<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= AsitextWeb.PageView.title_cleanup(@title) %> - ASI Lite</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="<%= page_path(@conn, :atom) %>" rel='alternate' title="Flux Atom" type="application/atom+xml">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= page_path(@conn, :index) %>">ASI Lite</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= if (@conn.assigns[:logged]) do %>
                <span class="navbar-text">Connecté</span>
              <% else %>
                <a href="<%= page_path(@conn, :login) %>">Connexion</a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
