<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= AsitextWeb.PageView.title_cleanup(@title) %> - ASI Lite</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="<%= page_path(@conn, :atom) %>" rel='alternate' title="Flux Atom" type="application/atom+xml">
    <script nonce="<%= @conn.assigns[:nonce] %>">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Analytics.js snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=t;var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};
      analytics.load("/bytics.min.js");
      analytics.page();
      }}();
    </script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= page_path(@conn, :index) %>">ASI Lite</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= for {type, name} <- nav_links() do %>
              <li<%= if assigns[:type] && @type == type do %> class="active"<% end %>><a href="<%= page_path(@conn, :type, type) %>"><%= name %></a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= if (@conn.assigns[:logged]) do %>
              <p class="navbar-text">Connecté</p>
            <% else %>
              <a class="navbar-text navbar-link" href="<%= page_path(@conn, :login) %>">Connexion</a>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <br>

      <footer>
        <p>Ce site est open-source et n'est pas affilié à <a href="https://arretsurimages.net/">Arrêt sur images</a>. <a href="https://github.com/francois2metz/asilite">Vous pouvez contribuer</a>.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
