<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= AsitextWeb.PageView.title_cleanup(@title) %> - ASI Lite</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.png") %>">
    <link rel="manifest" href="<%= manifest_path(@conn, :manifest) %>">
    <link href="<%= page_path(@conn, :atom) %>" rel="alternate" title="Tout les contenus" type="application/atom+xml">
    <%= for {type, name} <- nav_links() do %>
      <link href="<%= page_path(@conn, :atom_type, type) %>" rel="alternate" title="<%= name %>" type="application/atom+xml">
    <% end %>
    <script nonce="<%= @conn.assigns[:nonce] %>">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Analytics.js snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=t;var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};
      analytics.load("/bytics.min.js");
      analytics.page();
      }}();
    </script>
    <%= render_existing @view_module, "header."<> @view_template, assigns %>
    <%= render_existing @view_module, "header."<> (assigns[:header_template] || ""), assigns %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= page_path(@conn, :index) %>">ASI Lite</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= for {type, name} <- nav_links() do %>
              <li<%= if assigns[:type] && @type == type do %> class="active"<% end %>><a href="<%= page_path(@conn, :type, type) %>"><%= name %></a></li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-left" action="<%= page_path(@conn, :search) %>" method="get">
            <div class="form-group">
              <input type="text" name="q" size="15" value="<%= assigns[:q] || "" %>" class="form-control" placeholder="Recherche">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= if (@conn.assigns[:logged]) do %>
                <%= form_for @conn, page_path(@conn, :logout), [class: "navbar-form no-padding-right"], fn _f -> %>
                  <%= submit "Déconnexion", class: "btn btn-default" %>
                <% end %>
              <% else %>
                <a href="<%= page_path(@conn, :login) %>">Connexion</a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= unless (@conn.assigns[:logged]) do %>
        <p class="alert alert-info" role="alert">Pour accéder à la totalité du contenu vous devez vous connecter avec vos identifiants à Arrêt sur Images.
          <br>
          Pour des raisons de sécurité cet accès est restreint pour le moment. Demandez la procédure à <a href="https://twitter.com/francois2metz">l'auteur, François</a>.
        </p>
      <% end %>

      <main>
        <%= render @view_module, @view_template, assigns %>
      </main>

      <br>

      <footer>
        <p>
          <a href="<%= page_path(@conn, :folders) %>">Dossiers</a> -
          <a href="<%= page_path(@conn, :themes) %>">Thèmes</a> -
          <a href="<%= page_path(@conn, :authors) %>">Auteurs</a>
        </p>
        <p>Ce site <a href="https://github.com/francois2metz/asilite">open-source</a> affiche les contenus d'<a href="https://arretsurimages.net/">Arrêt sur images</a> d'une manière optimisé sur mobile. Non affilié à <a href="https://arretsurimages.net/">Arrêt sur images</a>. Créé par <a href="https://twitter.com/francois2metz">@francois2metz</a>. Voici la <a href="/api.html">documentation de l'API</a>.</p>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
