/* This file is for your main application css. */
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.article p {
  font-family: Merriweather, serif;
  font-size: 18px;
}
.article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.article .quoted {
  font-style: italic;
}
.article .quoted::before {
  content: "";
}
.article .article-framed-text {
  display: block;
  padding: 20px 60px;
}
.article .page-header {
  margin-top: 10px;
}
