<ul class="list-unstyled">
  <%= for author <- @authors do %>
    <li>
      <h1 class="h3"><a href="<%= page_path(@conn, :author, author["slug"]) %>"><%= author["name"] %></a></h1>
    </li>
  <% end %>
</ul>
