<nav>
  <ul class="pager">
    <% params = assigns[:params] || "" %>
    <%= if (String.to_integer(@start) > 0) do %>
      <li><a href="?start=<%= String.to_integer(@start) - 10 %><%= params %>">Page précédente</a></li>
    <% end %>
    <%= if (String.to_integer(@start) + 10 < @total) do %>
      <li><a href="?start=<%= String.to_integer(@start) + 10 %><%= params %>">Page suivante</a></li>
    <% end %>
  </ul>
</nav>
