<%= for hit <- @results["hits"]["hits"] do %>
  <div>
    <h1 class="h2"><a href="<%= hit["path"] %>"><%= hit["title"] %></a></h1>
    <p><%= hit["tease"] %></p>
  </div>
<% end %>
<div class="text-center">
  <a href="?start=<%= String.to_integer(@start) + 10 %>" class="btn btn-default">Afficher une autre page</a>
</div>
